[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pypresence = {file = "https://github.com/qwertyquerty/pypresence/archive/master.zip"}
requests = "*"

[requires]
python_version = "3.7"
